</div>
</body>
<footer class="">
    <p>Author: Randy Elkins &copy;
        <%=new Date().getFullYear();%><br>
            <a href="mailto:randy.e.elkins@gmail.com">randy.e.elkins@gmail.com</a></p>
</footer>