<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <!-- <script type="text/javascript" src="/js/script.js" defer></script> -->
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="container">

            <nav class="">
                <a href="/" class="btn green left">GO Camping</a>
                <a href="/" class="btn blue right">ALL CAMPGROUNDS</a>
                <a href="/camps/new.ejs" class="btn right">ADD CAMPGROUND</a>
            </nav>
        </div>